@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/demo1.min.css">
}

<main class="main">
    <div class="page-content">
        <section class="intro-section">
            <div class="owl-carousel owl-theme row owl-dot-inner owl-dot-white intro-slider animation-slider cols-1 gutter-no"
                 data-owl-options="{
                        'nav': false,
                        'dots': true,
                        'loop': false,
                        'items': 1,
                        'autoplay': false,
                        'autoplayTimeout': 8000
                    }">
                <div class="banner banner-fixed intro-slide1" style="background-color: #46b2e8;">
                    <figure>
                        <img src="~/images/slides/slide1.jpg" alt="intro-banner" width="1903"
                             height="630" style="background-color: #34ace5;" />
                    </figure>
                    <div class="container">
                        <div class="banner-content y-50">
                            <h2 class="banner-title font-weight-bold text-white lh-1 ls-md slide-animate"
                                data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1.2s', 'delay': '1s'}">
                                Care When
                            </h2>
                            <h3 class="font-weight-bold lh-1 ls-l text-white slide-animate"
                                data-animation-options="{'name': 'fadeInUpShorter', 'duration': '1.2s', 'delay': '1s'}">
                                You Need It
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="banner banner-fixed intro-slide2" style="background-color: #dddee0;">
                    <figure>
                        <img src="~/images/slides/slide2.jpg" alt="intro-banner" width="1903"
                             height="630" style="background-color: #d8d9d9;" />
                    </figure>
                    <div class="container">
                        <div class="banner-content y-50 ml-auto text-right">
                            <h4 class="banner-subtitle ls-s mb-1 slide-animate text-white"
                                data-animation-options="{'name': 'fadeInUp', 'duration': '.7s'}">
                                <strong class="font-weight-semi-bold ls-m">
                                    We all have different healthcare needs.
                                    Handle them your way with us
                                </strong>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="banner banner-fixed video-banner intro-slide3" style="background-color: #dddee0;">
                    <figure>
                        <img src="~/images/slides/slide3.jpg" alt="intro-banner" width="1903"
                             height="630" style="background-color: #d8d9d9;" />
                    </figure>
                    <div class="container">
                        <div class="banner-content x-50 y-50 text-center">
                            <h2 class="banner-title mb-3 text-white font-weight-bold text-uppercase ls-m slide-animate"
                                data-animation-options="{'name': 'fadeInUp', 'duration': '.7s', 'delay': '.5s'}">
                                Care that's built around you
                            </h2>
                            <p class="slide-animate mb-7 text-white ls-s font-primary "
                               data-animation-options="{'name': 'fadeInUp', 'duration': '1s', 'delay': '.8s'}">
                                When your care gets complicated, you want a team of experts with a complete view
                                of
                                <br>your health so they can create a plan to help you get Better.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-6 appear-animate">
                <div class="service-list">
                    <div class="owl-carousel owl-theme row cols-lg-3 cols-sm-2 cols-1" data-owl-options="{
                                    'items': 3,
                                    'nav': false,
                                    'dots': false,
                                    'loop': true,
                                    'autoplay': false,
                                    'autoplayTimeout': 5000,
                                    'responsive': {
                                        '0': {
                                            'items': 1
                                        },
                                        '576': {
                                            'items': 2
                                        },
                                        '768': {
                                            'items': 3,
                                            'loop': false
                                        }
                                    }
                                }">
                        <div class="icon-box icon-box-side icon-box1 appear-animate" data-animation-options="{
                                        'name': 'fadeInRightShorter',
                                        'delay': '.3s'
                                    }">
                            <i class="icon-box-icon d-icon-truck"></i>
                            <div class="icon-box-content">
                                <h4 class="icon-box-title text-capitalize ls-normal lh-1">
                                    Free Shipping &amp;
                                    Return
                                </h4>
                                <p class="ls-s lh-1">Free shipping on orders over $99</p>
                            </div>
                        </div>

                        <div class="icon-box icon-box-side icon-box2 appear-animate" data-animation-options="{
                                        'name': 'fadeInRightShorter',
                                        'delay': '.4s'
                                    }">
                            <i class="icon-box-icon d-icon-service"></i>
                            <div class="icon-box-content">
                                <h4 class="icon-box-title text-capitalize ls-normal lh-1">
                                    Customer Support 24/7
                                </h4>
                                <p class="ls-s lh-1">Instant access to perfect support</p>
                            </div>
                        </div>

                        <div class="icon-box icon-box-side icon-box3 appear-animate" data-animation-options="{
                                        'name': 'fadeInRightShorter',
                                        'delay': '.5s'
                                    }">
                            <i class="icon-box-icon d-icon-secure"></i>
                            <div class="icon-box-content">
                                <h4 class="icon-box-title text-capitalize ls-normal lh-1">
                                    100% Secure Payment
                                </h4>
                                <p class="ls-s lh-1">We ensure secure payment!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pt-10 mt-7 mb-10 appear-animate" data-animation-options="{
                    'delay': '.3s'
                }">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/fue-sac-ekimi.jpg" alt="category" width="280"
                                         height="280" style="background-color: #8c8c8d;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>FUE Hair transplantation</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/safir-fue-sac-ekimi.jpg" alt="category"
                                         width="280" height="280" style="background-color: #bcbdb7;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>SAPPHIRE FUE Hair transplantation</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/dhi-sac-ekimi.jpg" alt="category" width="280"
                                         height="280" style="background-color: #ececef;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>DHI Hair transplantation</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/trassiz-sac-ekimi.jpg" alt="category"
                                         width="280" height="280" style="background-color: #8c8c8d;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>UNBARBERED Hair transplantation</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/sakal-ekimi.jpg" alt="category" width="280"
                                         height="280" style="background-color: #bcbdb7;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>Beard transplantation</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/kas-ekimi.jpg" alt="category" width="280"
                                         height="280" style="background-color: #ececef;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>BROW transplantation</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/prp-tedavisi.jpg" alt="category" width="280"
                                         height="280" style="background-color: #8c8c8d;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>PRP treatment</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4" style="height:280px; width:280px; display: flex; align-items: center; justify-content: center;">
                        <a href="/Services/Index" class="btn btn-primary btn-rounded btn-md ml-2">
                            See All<i class="d-icon-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>