@model EmailViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/style.min.css">
}

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

<main class="main">
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/Home/Index"><i class="d-icon-home"></i></a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </nav>
    <div class="page-header" style="background-image: url('@Url.Content("~/images/page-header/contact-us.jpg")')">
        <h1 class="page-title font-weight-bold text-capitalize ls-l">Contact Us</h1>
    </div>
    <div class="page-content mt-10 mb-10 pt-7">
        <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 ls-m mb-4">
                        <div class="grey-section d-flex align-items-center h-100">
                            <div>
                                <h4 class="mb-2 text-capitalize">Headquarters</h4>
                                <p>28 May<br>Turkey, Istanbul</p>

                                <h4 class="mb-2 text-capitalize">Phone Number</h4>
                                <p>
                                    <a href="tel:#">json:data</a><br>
                                    <a href="tel:#">json:data</a>
                                </p>

                                <h4 class="mb-2 text-capitalize">Support</h4>
                                <p class="mb-4">
                                    <a href="#">json:data</a><br>
                                    <a href="#">json:data</a><br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 d-flex align-items-center">
                        <div class="w-100">
                            <form class="pl-lg-2" action="SendEmail">
                                <h4 class="ls-m font-weight-bold">Let’s Connect</h4>
                                <p>
                                    Your email address will not be published. Required fields are
                                    marked *
                                </p>
                                <div class="row mb-2">
                                    <div class="col-12 mb-4">
                                        <textarea class="form-control" required asp-for="Message"
                                                  placeholder="Comment*" id="m_message"></textarea>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <input class="form-control" asp-for="Name" id="m_name" type="text" placeholder="Name *" required>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <input class="form-control" asp-for="Email" id="m_mail" type="email" placeholder="Email *" required>
                                    </div>
                                </div>
                                <button class="btn btn-dark btn-rounded">
                                    Post Comment<i class="d-icon-arrow-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>